/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --primary-color: #5623d8;
  --primary-color-rgb: 86, 35, 216;
  --secondary-color: #6a79fa;
  --secondary-color-rgb: 106, 121, 250;
  --tertiary-color: #8f15e6;
  --tertiary-color-rgb: #8f15e6;
}

body {
  background-color: #1e1f22;
  height: 100vh;
  margin: 0;
}

a {
  text-decoration: none;
}

.customer {
  display: flex;
  justify-content: flex-end;
  width: 1000px;
}
.customer ul {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.container {
  padding-top: 35px;
}

.nav-item {
  margin: 0;
}

.nav-link {
  text-decoration: none;
  color: #ffffff;
}

/* snow */
#snow {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.snowflake {
  position: fixed;
  border-radius: 50%;
  width: 20px;
  background: url("/static/images/snowflake.png");
  height: 20px;
  z-index: 100000000000000000000;
  opacity: 0.7;
  animation: fall 4s linear infinite;
}

@keyframes fall {
  0% {
    opacity: 0.7;
    transform: translateY(-100px);
  }
  100% {
    opacity: 0.2;
    transform: translateY(100vh);
  }
}
/* ------------------ */
/* =============================
   Header Section
   ============================= */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: rgba(173, 183, 190, 0.3490196078);
  padding: 0 20px;
  z-index: 1000;
  /* Dropdown styling */
  /* =============================
   Sidebar Section
   ============================= */
}
header .logo {
  width: 100px;
  height: auto;
  flex-shrink: 0;
  vertical-align: middle;
}
header nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
header nav ul {
  display: flex;
  align-items: center;
  gap: 35px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
header nav ul li {
  display: inline-block;
}
header nav ul li a {
  color: #fff;
  font-family: "Oxanium", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
header .dropdown {
  position: relative;
  display: inline-block;
}
header .profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
header .dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #1f1f1f;
  color: white;
  min-width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
  padding: 10px 0;
  font-family: Arial, sans-serif;
}
header .user-info {
  padding: 10px 15px;
  border-bottom: 1px solid #333;
  text-align: left;
}
header .username {
  font-weight: bold;
  font-size: 16px;
}
header .dropdown-content a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  font-size: 14px;
  transition: background-color 0.3s;
}
header .dropdown-content a:hover {
  background-color: #333;
}
header .dark-mode-switch {
  padding: 10px 15px;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .dark-mode-switch span {
  font-size: 14px;
}
header .toggle-switch {
  position: relative;
  width: 40px;
  height: 20px;
}
header .toggle-switch input {
  display: none;
}
header .toggle-switch label {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 20px;
  background-color: #333;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}
header .toggle-switch label:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 14px;
  height: 14px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}
header .toggle-switch input:checked + label {
  background-color: #1e88e5;
}
header .toggle-switch input:checked + label:after {
  transform: translateX(20px);
}
header .logout-button {
  background-color: #e53935;
  color: white;
  text-align: center;
  font-weight: bold;
}
header .logout-button:hover {
  background-color: #d32f2f;
}
header .dropdown:hover .dropdown-content {
  display: block;
}
header .sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.425);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.2);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
header .sidebar li {
  width: 100%;
}
header .sidebar a {
  width: 100%;
  padding-left: 30px;
}
header .sidebar div {
  padding-left: 20px;
}
header .sidebar div a:hover {
  background-color: #01204e;
  transition: 0.5s;
}
header .active {
  color: #22c38b;
  font-family: "Oxanium", Helvetica, Arial, sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 580;
  line-height: normal;
  text-decoration: none;
}
header .icons {
  display: flex;
  align-items: center;
  gap: 20px;
}
header .icons a {
  text-decoration: none;
  color: darkred;
  font-size: 24px;
  width: 40px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
header .icons a:hover {
  background-color: #4e2201;
  transition: 0.5s;
}
header li a:hover {
  text-decoration: none;
  color: rgb(174, 5, 204);
  font-size: 15px;
}

/* =============================
   Header Section End
   ============================= */
/* =============================
           Main Container
           ============================= */
.user-pic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
}

.s-1 {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.intromain {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110%;
  flex-direction: row;
}

.introduction-part {
  height: 50%;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-text {
  height: auto;
}

.subtitle {
  position: relative;
  display: inline-block;
  font-weight: bold;
  color: #ffffff;
  font-family: sans-serif;
  border: solid 2px rgba(255, 255, 255, 0.25);
  padding: 10px;
  border-radius: 35px;
  margin-bottom: 35px;
  -moz-border-radius: 35px;
  -webkit-border-radius: 35px;
  font-size: 15px;
}

.banner_t {
  background: linear-gradient(0deg, #888888 0%, #ffffff 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  margin-bottom: 20px;
  line-height: 1.1em;
  margin-top: 0;
  font-family: "Oxanium", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #323232;
}

.banner_p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
  font-size: 18px;
  line-height: 1.5;
  color: #adb7be;
  font-family: "Manrope", Helvetica, Arial, sans-serif;
  margin: 0 0 20px;
  padding-bottom: 30px;
}

.server {
  width: 600px;
  height: 600px;
}

.s-2 {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.head-of-card-section {
  text-align: left;
  justify-content: center;
}

.cards-part {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
}

.head-of-courses-section {
  text-align: center;
  justify-content: center;
}

/* =============================
               Root Variables
               ============================= */
:root {
  --primary-color: #5623d8;
  --primary-color-rgb: 86, 35, 216;
  --secondary-color: #6a79fa;
  --secondary-color-rgb: 106, 121, 250;
  --tertiary-color: #8f15e6;
  --tertiary-color-rgb: #8f15e6;
}

/* =============================
                     Global Font and Colors
                     ============================= */
* {
  --title-font: "Oxanium", Helvetica, Arial, sans-serif;
  --body-font: "Manrope", Helvetica, Arial, sans-serif;
  --border-default: solid 1px rgba(30, 30, 30, 1);
  --bg-color-even: #e8e8e8;
  --bg-color-odd: #f4f4f4;
  --bg-dark-1: #1e1f22;
  --bg-dark-2: #252629;
  --body-font-color: #757575;
  --dark-body-font-color: #adb7be;
  --swiper-theme-color: var(--secondary-color);
}

/* =============================
                     Main Container
                     ============================= */
.main {
  background-color: rgb(0, 0, 0);
  width: 360px;
  height: 470px;
  box-sizing: border-box;
  border-radius: 10px;
  margin-top: 50px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.5s;
  position: relative;
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.main.show {
  opacity: 1; /* Fully visible */
  transform: translateY(0); /* Reset position */
}

.main:nth-child(1) {
  transition-delay: 0.2s;
}

.main:nth-child(2) {
  transition-delay: 0.4s;
}

.main:nth-child(3) {
  transition-delay: 0.6s;
}

.main:hover {
  border: 4px solid var(--primary-color);
  transition: 0.5s;
  box-shadow: 0 0 40px 0 rgba(10, 10, 10, 0.711);
}

.main h3 {
  margin-top: 0;
  font-family: var(--title-font);
  font-weight: bold;
  color: #ffffff;
  font-size: calc(1.3rem + 0.6vw);
}

.main .price {
  color: #ffffff;
  font-weight: bold;
  background: rgba(var(--primary-color-rgb), 0.5);
  margin-left: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 0 5px;
  font-size: 16px;
  font-family: Manrope, Arial, Helvetica, sans-serif;
}

.main p {
  color: #adb7be;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font-size: 16px;
  font-family: Manrope, Arial, Helvetica, sans-serif;
}

/* =============================
                     Title Box
                     ============================= */
.main .titlebox {
  position: absolute;
  top: 17px;
  right: 15px;
  width: 73px;
  height: 28px;
  font-size: 14px;
  padding: 0 12px;
  color: #ffffff;
  font-weight: 800;
  border-radius: 6px;
  background-color: var(--tertiary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--body-font);
  font-weight: 600;
}

/* =============================
                     Description Section
                     ============================= */
.descr {
  position: absolute;
  bottom: 0;
  left: 20px;
  color: #fff;
  width: 80%;
  text-align: left;
  z-index: 1;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.descr h3 {
  font-size: 25px;
  margin: 0;
}

.descr .d-price {
  font-size: 16px;
  margin: 10px 0;
}

/* =============================
                     Button Styles
                     ============================= */
.descr .btn-main {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  font-size: 16px;
  color: #fff;
  background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  border: none;
  border-radius: 6px;
  text-decoration: none;
  margin-top: 15px;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.descr .btn-main:hover {
  box-shadow: 0 0 40px 0 rgba(var(--primary-color-rgb), 1);
  transition: 0.5s ease;
}

.intro-text .btn-main {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  font-size: 16px;
  color: #fff;
  background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  border: none;
  border-radius: 6px;
  text-decoration: none;
  margin-top: 15px;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.half-width {
  max-width: 50%;
}

.intro-text .btn-main:hover {
  box-shadow: 0 0 40px 0 rgba(var(--primary-color-rgb), 1);
  transition: 0.5s ease;
}

/* =============================
                     Hover Effects for Main
                     ============================= */
.main:hover .descr {
  transform: translateY(-30px);
}

.main:hover .btn-main {
  opacity: 1;
}

/* =============================
                     Button Global Styles
                     ============================= */
a.btn-main,
a.btn-main:active,
a.btn-main:focus,
a.btn-main:visited,
.btn-main,
input[type=button].btn-main,
a.btn-line,
#mainmenu li ul.mega a.btn-main {
  display: inline-block;
  font-family: var(--title-font);
  text-align: center;
  color: #fff;
  outline: 0;
  font-weight: bold;
  text-decoration: none;
  padding: 3px 20px 2px 20px;
  font-size: 14px;
  border: none;
  text-transform: uppercase;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

/* ================ REGISTER PAGE =================== */
.bigcontainer {
  font-family: "Arial", sans-serif;
  color: #fff;
  background-color: #4a4a6a;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Container Styling */
.customcontainer {
  display: flex;
  width: 900px;
  height: 600px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

/* Left Panel */
.left-panel {
  flex: 1;
  background: url("/static/images/rocket.webp") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  position: relative;
}

.login {
  flex: 1;
  background: url("/static/images/tom.jpg") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  position: relative;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.back-link {
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  opacity: 0.8;
  transition: opacity 0.2s;
  background: rgba(57, 57, 57, 0.75);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 5px;
}

.back-link:hover {
  opacity: 1;
}

.promo-text {
  text-align: center;
}

.promo-text h2 {
  font-size: 30px;
  line-height: 1.4;
  color: #ffeb3b;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.dots {
  margin-top: 10px;
}

.dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  margin: 0 5px;
}

.dot.active {
  background: #fff;
}

/* Right Panel */
.right-panel {
  flex: 1;
  background: #252333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  border-radius: 10px;
}

.right-panel h2 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 10px;
}

.login-text {
  font-size: 14px;
  color: #aaa;
  margin-bottom: 20px;
}

.login-text a {
  color: #a394f5;
  text-decoration: none;
}

.login-text a:hover {
  text-decoration: underline;
}

.form {
  width: 100%;
}

.form-group {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.input {
  background: #4a4a6a;
  border: none;
  border-radius: 8px;
  padding: 12px;
  color: #fff;
  font-size: 14px;
  flex: 1;
  margin-top: 10px;
  outline: none;
  border: 2px solid transparent;
  transition: border-color 0.2s;
}

.input:focus {
  border-color: rgb(79, 0, 128);
}

.full {
  width: 100%;
}

.input::-moz-placeholder {
  color: #aaa;
}

.input::placeholder {
  color: #aaa;
}

.password-group {
  position: relative;
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  font-size: 14px;
  cursor: pointer;
  color: #aaa;
}

.checkbox-group {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.checkbox-group input {
  width: 16px;
  height: 16px;
}

.checkbox-group label {
  font-size: 14px;
  color: #aaa;
}

.checkbox-group a {
  color: #a394f5;
  text-decoration: none;
}

.submit-btn {
  background: #7a66d6;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
}

.submit-btn:hover {
  background: #6a55c6;
}

.divider {
  text-align: center;
  margin: 20px 0;
  font-size: 14px;
  color: #aaa;
}

.social-buttons {
  display: flex;
  gap: 10px;
}

.social-btn {
  flex: 1;
  background: #fff;
  color: #36344d;
  padding: 12px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
}

/* =============================== REGISTER PAGE END ====================================== */
/* =============================
                     User Dashboard
                     ============================= */
.profileheader {
  display: flex;
  align-items: flex-start;
  align-items: end;
  padding: 10px;
  height: 130px;
  width: 100%;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.452)), url("/static/images/default_banner-SEGCJ3FN.digested.png");
  background-size: cover;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: 200%;
}

.profileheader img {
  border-radius: 50%;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  display: inline-block;
}

.profileheader h1 {
  margin: 0;
  text-align: center;
  display: inline-block;
  color: white;
  font-family: sans-serif;
  font-weight: 600px;
  font-size: 20px;
}

.customrow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.firstpart {
  background-color: #1b1f24;
  height: 700px;
  width: 100%;
  padding: 20px;
  padding-top: 40px;
}

.firstpart h1 {
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 600;
  text-align: left;
  margin-top: 0;
}

.status {
  display: flex;
  justify-content: flex-end; /* Align the text and icon to the right */
  align-items: center; /* Vertically center the text and icon */
  gap: 8px; /* Space between text and icon */
  padding-bottom: 20px;
}

h2 {
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 600;
  margin: 0; /* Remove default margins */
  display: flex;
  align-items: center; /* Ensure proper vertical alignment within the flex container */
}

.firstpart h4 {
  color: #adb2b6;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 600;
  text-align: center;
  margin-top: 0;
}

.firstpart .amounts {
  color: white;
  font-size: 24px;
  text-align: center;
  font-family: sans-serif;
  font-weight: 600;
}

.pt-30 {
  padding-top: 30px;
}

/* Container for Testimonials */
.testimonial-container {
  max-height: 300px; /* Set height limit for the scrollable area */
  overflow-y: auto; /* Enable vertical scrolling */
  border: 1px solid grey; /* Add a subtle border */
  border-radius: 8px; /* Rounded corners */
  padding: 15px;
  background-color: #121028;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

/* Container for Testimonials */
.testimonial-container {
  max-height: 350px; /* Adjust as needed */
  overflow-y: auto; /* Scrollable when content exceeds height */
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  background-color: #1e373a;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

/* Testimonial List */
.testimonial-list {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Space between testimonials */
}

/* Individual Testimonial */
.testimonial-item {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: 1px solid #eee;
  border-radius: 8px;
  background-color: #351845;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.testimonial-item:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
}

/* Author Information */
.author-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.author-info .action-button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}
.author-info .action-button.delete {
  background-color: #e74c3c;
  color: #fff;
}
.author-info .action-button.delete:hover {
  background-color: #c0392b;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 10px;
}

.username {
  font-size: 16px;
  font-weight: bold;
  color: #f6f6f6;
}

/* Testimonial Text */
.testimonial-text {
  font-size: 14px;
  color: #ebe6e6;
  font-style: italic;
  margin: 0;
  line-height: 1.6;
}

.secondpart {
  background-color: rgb(11, 7, 20);
  height: 700px;
  width: 100%;
}

/* ================= Post Creation Form ================= */
/* ============================= VULN WRITEUPS ============================= */
.writeup-page {
  padding: 20px;
  width: 100%;
  height: 100vh;
  margin-top: 50px;
}
.writeup-page .writeup-page-head {
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
  padding: 20px;
  width: 80%;
  height: auto;
  margin-top: 20px;
}
.writeup-page .writeup-page-head h1 {
  color: white;
  font-size: 40px;
  font-family: sans-serif;
  font-weight: 600;
  text-align: left;
  margin-top: 0;
  padding-left: 100px;
}
.writeup-page .writeup-page-head .writeup-stats {
  border-top: grey 1px solid;
  border-bottom: grey 1px solid;
  height: 30px;
  width: 80%;
  margin-left: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.writeup-page .writeup-page-head p {
  font-size: 17px;
  color: white;
  font-family: sans-serif;
  font-weight: 600;
  vertical-align: middle;
  display: inline-block;
}
.writeup-page .writeup-page-head svg {
  vertical-align: middle;
  display: inline-block;
}
.writeup-page .writeup-page-body {
  width: 100%;
  height: 90%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
}
.writeup-page .writeup-page-body .writeup-img {
  width: 300px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  -o-object-fit: cover;
     object-fit: cover;
}
.writeup-page .writeup-page-body .writeup-page-description {
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 600;
  text-align: left;
  margin-top: 29px;
  margin-bottom: 20px;
}

/* ============================= VULN WRITEUPS END ============================= */
/* =============================
                     User Dashboard End
                     ============================= */
/* ============================= 
admin dashboard
============================= */
.admin-dashboard {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #2c3e50;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.tab-button {
  background-color: #34495e;
  border: none;
  padding: 10px;
  color: #fff;
  text-align: left;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.tab-button:hover {
  background-color: #1abc9c;
}

.tab-button-manager {
  background-color: #1ea863;
  border: none;
  padding: 10px;
  color: #fff;
  text-align: left;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.tab-button-manager:hover {
  background-color: #8b1abc;
}

.content {
  flex-grow: 1;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tab-content {
  display: none;
}

.tab-content h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.course-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.course-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.course-info h3 {
  margin: 0;
  font-size: 25px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}

.course-actions {
  display: flex;
  gap: 10px;
}

/* User Listing Styles */
/* User List Container */
.user-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Individual User Item */
.user-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* User Picture Section */
.user-pic {
  flex: 0 0 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-pic img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* User Details Section */
.user-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 15px;
}
.user-details .labels,
.user-details .values {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
.user-details .labels span {
  font-weight: bold;
  color: #333;
  flex: 1;
  text-align: center;
}
.user-details .values span {
  color: #555;
  flex: 1;
  text-align: center;
}

.action-button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.action-button.edit {
  background-color: #3498db;
  color: #fff;
}

.action-button.edit:hover {
  background-color: #2980b9;
}

.action-button.delete {
  background-color: #e74c3c;
  color: #fff;
}

.action-button.delete:hover {
  background-color: #c0392b;
}

.action-button.change {
  background-color: #f1c40f;
  color: #fff;
}

.action-button.change:hover {
  background-color: #f39c12;
}

/* User Actions Section */
.user-actions {
  flex: 0 0 auto;
  display: flex;
  gap: 10px;
}
.user-actions .action-button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}
.user-actions .action-button.edit {
  background-color: #3498db;
  color: #fff;
}
.user-actions .action-button.edit:hover {
  background-color: #2980b9;
}
.user-actions .action-button.delete {
  background-color: #e74c3c;
  color: #fff;
}
.user-actions .action-button.delete:hover {
  background-color: #c0392b;
}
.user-actions .action-button.change {
  background-color: #f1c40f;
  color: #fff;
}
.user-actions .action-button.change:hover {
  background-color: #f39c12;
}

/* ============================= WRITEUPS ============================= */
.writeups-main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: 90vh;
  margin-top: 50px;
}
.writeups-main .writeups-center {
  width: 80%;
  height: 100%;
  border-radius: 15px;
  background-color: rgba(128, 0, 128, 0.489);
  background-color: rgba(71, 25, 90, 0.537254902);
}
.writeups-main .writeups-center .head {
  height: 50px;
  border-radius: 15px;
  background-color: rgba(128, 0, 128, 0.489);
  background-color: rgba(71, 25, 90, 0.537254902);
}
.writeups-main .writeups-center .head h1 {
  text-align: center;
  color: white;
  font-family: "Kalnia Glaze", serif;
  font-size: 40px;
  font-weight: bold;
}
.writeups-main .writeups-center .writeups-listing {
  height: 90%;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  overflow-y: auto;
  flex-wrap: wrap;
  padding-top: 30px;
}
.writeups-main .writeups-center .writeups-listing .writeup-card-main {
  width: 300px;
  height: 400px;
  background-color: black;
  border-radius: 15px;
  margin-bottom: 70px;
}
.writeups-main .writeups-center .writeups-listing .writeup-card-main .writeup-head {
  height: 180px;
  border: 1px solid #454546;
  border-radius: 10px;
}
.writeups-main .writeups-center .writeups-listing .writeup-card-main .writeup-head .writeup-head-title {
  background-color: rgba(26, 23, 64, 0.7882352941);
  display: flex;
  justify-content: center;
  height: 30px;
  border-radius: 10px;
}
.writeups-main .writeups-center .writeups-listing .writeup-card-main .writeup-head .writeup-head-title h2 {
  color: white;
  font-size: 30px;
  font-family: "Honk", serif;
  font-weight: bold;
}
.writeups-main .writeups-center .writeups-listing .writeup-card-main .writeup-author {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.7882352941);
  border: 1px solid #454546;
}
.writeups-main .writeups-center .writeups-listing .writeup-card-main .writeup-author h1 {
  color: grey;
  font-size: 13px;
  font-family: sans-serif;
  font-weight: bold;
  margin-left: 10px;
}
.writeups-main .writeups-center .writeups-listing .writeup-card-main .writeup-author p {
  font-size: 11px;
  text-transform: uppercase;
  color: #5a41ad;
  font-weight: bold;
  padding: 5px 15px 5px;
  background-color: rgba(28, 37, 51, 0.6980392157);
  border-radius: 10px;
  font-family: sans-serif;
  margin-left: 20px;
}
.writeups-main .writeups-center .writeups-listing .writeup-card-main .writeup-thanks {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.7882352941);
  border: 1px solid #454546;
}
.writeups-main .writeups-center .writeups-listing .writeup-card-main .writeup-thanks p {
  font-size: 13px;
  text-transform: uppercase;
  color: #67deca;
  font-weight: bold;
  padding: 5px 15px 5px;
  background-color: #282b30;
  border-radius: 10px;
  font-family: sans-serif;
}
.writeups-main .writeups-center .writeups-listing .writeup-card-main .writeup-thanks span {
  font-size: 15px;
  color: grey;
  padding: 5px;
}
.writeups-main .writeups-center .writeups-listing .writeup-card-main .writeup-smalldescription {
  width: 100%;
  height: 30%;
  border: 1px solid #454546;
  background-color: rgba(0, 0, 0, 0.7882352941);
}
.writeups-main .writeups-center .writeups-listing .writeup-card-main .writeup-smalldescription h1 {
  font-size: 20px;
  color: #69759f;
  padding-bottom: 20px;
  padding-top: 10px;
  padding-left: 10px;
  font-family: "Protest Strike", sans-serif;
  text-transform: uppercase;
}
.writeups-main .writeups-center .writeups-listing .writeup-card-main .writeup-smalldescription p {
  font-size: 15px;
  color: #7482b4;
  padding-bottom: 20px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Protest Strike", sans-serif;
  text-transform: uppercase;
}
.writeups-main .writeups-center .writeups-listing .writeup-card-main .writeup-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.7882352941);
}
.writeups-main .writeups-center .writeups-listing .writeup-card-main .writeup-actions .btn-main {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  font-size: 16px;
  color: #fff;
  background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  border: none;
  border-radius: 6px;
  text-decoration: none;
  margin-top: 15px;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.writeups-main .writeups-center .writeups-listing .writeup-card-main .writeup-actions .btn-main:hover {
  box-shadow: 0 0 40px 0 rgba(var(--primary-color-rgb), 1);
  transition: 0.5s ease;
}
.writeups-main .writeups-center .writeups-listing .writeup-card-main .writeup-actions .btn-main {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  font-size: 16px;
  color: #fff;
  background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  border: none;
  border-radius: 6px;
  text-decoration: none;
  margin-top: 15px;
  opacity: 1;
  transition: opacity 0.5s ease;
}
.writeups-main .writeups-center .writeups-listing .writeup-card-main .writeup-actions .half-width {
  max-width: 50%;
}
.writeups-main .writeups-center .writeups-listing .writeup-card-main .writeup-actions .btn-main:hover {
  box-shadow: 0 0 40px 0 rgba(var(--primary-color-rgb), 1);
  transition: 0.5s ease;
}

/* ============================= ABOUT US ============================= */
.about-us-section {
  padding: 80px 20px;
  background-color: #a7e6ff;
  color: #333;
}
.about-us-section .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 30px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.about-us-section h1 {
  font-size: 40px;
  margin-bottom: 30px;
  color: #028391;
  text-align: center;
  font-weight: bold;
}
.about-us-section h2 {
  font-size: 32px;
  margin-top: 50px;
  margin-bottom: 20px;
  color: #028391;
  border-bottom: 3px solid #028391;
  padding-bottom: 10px;
}
.about-us-section p {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 25px;
  color: #555;
  text-align: justify;
}

.team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.team-member {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 20px;
  margin: 10px;
  max-width: 260px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}
.team-member:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
}
.team-member img {
  border-radius: 50%;
  margin-bottom: 15px;
  width: 120px;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 4px solid #028391;
}
.team-member h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #028391;
}
.team-member p {
  font-size: 16px;
  line-height: 1.6;
  color: #666;
}

/* MEDIA */
@media (max-width: 800px) {
  .intromain {
    flex-direction: column;
  }
  .banner_t {
    font-size: 40px;
  }
  .server {
    width: 500px;
    height: 500px;
  }
  .main {
    width: 315px;
    height: 420px;
  }
  .cards-part {
    flex-direction: column;
    justify-content: center;
  }
  .descr h3 {
    font-size: 20px;
    margin: 0;
  }
  .descr .d-price {
    font-size: 16px;
    margin: 10px 0;
  }
}
@media (max-width: 500px) {
  .server {
    width: 400px;
    height: 400px;
  }
}
@media (max-width: 450px) {
  .server {
    width: 300px;
    height: 300px;
  }
  .banner_t {
    font-size: 25px;
  }
  .banner_p {
    font-size: 15px;
  }
  .main {
    width: 250px;
    height: 350px;
  }
}
@media (max-width: 800px) {
  #hideOnMobile {
    display: none;
  }
}
@media (min-width: 800px) {
  #hideOnBig {
    display: none;
  }
}
/* Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}/*# sourceMappingURL=global.css.map */