{% extends "base.html" %} {% block title %}About Us{% endblock title %} {% block
body %}

<section class="about-us-section">
  <div class="container">
    <h1 id="OurMission">About Us</h1>
    <p>
      The company is focused on the development of children in terms of
      technology, since the Internet plays a very large role in our lives in the
      21st century. The internet is also a big threat to both us and our
      children, that's why we founded this company to educate children about
      these dangers, teach them how to protect themselves online and more!
      Protection of other companies' systems.
    </p>

    <h2>Our Mission</h2>
    <p>
      At GeoCyber, our mission is to empower the next generation with the
      knowledge and tools to navigate the digital world safely and confidently.
      We believe in the importance of educating children about online security,
      ethical hacking, and geospatial intelligence to help them understand and
      mitigate the risks of the internet. By fostering a safe and informed
      digital environment, we aim to create a community of tech-savvy
      individuals who can protect themselves and others from cyber threats.
    </p>

    <h2 id="OurHistory">Company History</h2>
    <p>
      Founded in 2020, GeoCyber started as a small initiative to provide
      cybersecurity education to young learners. Over the years, we have grown
      into a comprehensive platform offering a range of courses, workshops, and
      resources on topics such as ethical hacking, programming, and geospatial
      intelligence. Our team of experienced professionals is dedicated to
      creating engaging and accessible learning experiences for students of all
      ages.
    </p>

    <h2 id="OurTeam">Meet Our Team</h2>
    <div class="team-members">
      <div class="team-member">
        <img src="" alt="John Doe" />
        <h3>Mårten Mickos</h3>
        <p>CHIEF EXECUTIVE OFFICER</p>
        <p>
          Mårten Gustaf Mickos (born November 6, 1962, in Espoo, Finland) is a
          technology executive based in San Francisco. He is the current CEO of
          GeoCyber, a security vulnerability coordination and bug bounty
          platform.
        </p>
      </div>
      <div class="team-member">
        <img src="" alt="Jane Smith" />
        <h3>Jobert Abma</h3>
        <p>CO-FOUNDER & ENGINEERING</p>
        <p>
          Abma is a tech visionary with a background in software development and
          cybersecurity. he leads our technology team, ensuring that GeoCyber
          stays at the forefront of innovation.
        </p>
      </div>
      <div class="team-member">
        <img src="" alt="Alex Johnson" />
        <h3>Michiel Prins</h3>
        <p>CO-FOUNDER & PRODUCT</p>
        <p>
          Michiel is an experienced educator with a passion for teaching
          children about technology. He designs and oversees our curriculum,
          making sure it is engaging and effective for learners of all ages.
        </p>
      </div>
      <div class="team-member">
        <img src="" alt="Maria Gonzalez" />
        <h3>Alex Rice</h3>
        <p>CO-FOUNDER & CHIEF TECHNOLOGY OFFICER</p>
        <p>
          Maria is a skilled ethical hacker who brings her expertise to our
          training programs. She works with students to develop their hacking
          skills in a safe and responsible manner.
        </p>
      </div>
    </div>
  </div>
</section>

{%endblock body%}
