<div
  id="snow"
  style="background-size: cover; background-repeat: no-repeat"
  bis_skin_checked="1"
>
  <div
    class="snowflake"
    style="
      left: 66.8576vw;
      animation-duration: 6.79983s;
      animation-delay: 1.58913s;
      background-size: cover;
      background-repeat: no-repeat;
    "
    bis_skin_checked="1"
  ></div>
  <div
    class="snowflake"
    style="
      left: 27.4588vw;
      animation-duration: 9.55334s;
      animation-delay: 8.37826s;
      background-size: cover;
      background-repeat: no-repeat;
    "
    bis_skin_checked="1"
  ></div>
  <div
    class="snowflake"
    style="
      left: 82.773vw;
      animation-duration: 11.417s;
      animation-delay: 7.28521s;
      background-size: cover;
      background-repeat: no-repeat;
    "
    bis_skin_checked="1"
  ></div>
  <div
    class="snowflake"
    style="
      left: 42.294vw;
      animation-duration: 10.9077s;
      animation-delay: 6.73371s;
      background-size: cover;
      background-repeat: no-repeat;
    "
    bis_skin_checked="1"
  ></div>
  <div
    class="snowflake"
    style="
      left: 82.4376vw;
      animation-duration: 8.92622s;
      animation-delay: 2.03725s;
      background-size: cover;
      background-repeat: no-repeat;
    "
    bis_skin_checked="1"
  ></div>
  <div
    class="snowflake"
    style="
      left: 76.6885vw;
      animation-duration: 7.57913s;
      animation-delay: 3.6711s;
      background-size: cover;
      background-repeat: no-repeat;
    "
    bis_skin_checked="1"
  ></div>
  <div
    class="snowflake"
    style="
      left: 90.1976vw;
      animation-duration: 8.36237s;
      animation-delay: 2.91319s;
      background-size: cover;
      background-repeat: no-repeat;
    "
    bis_skin_checked="1"
  ></div>
  <div
    class="snowflake"
    style="
      left: 85.0504vw;
      animation-duration: 10.5835s;
      animation-delay: 4.87642s;
      background-size: cover;
      background-repeat: no-repeat;
    "
    bis_skin_checked="1"
  ></div>
  <div
    class="snowflake"
    style="
      left: 78.5658vw;
      animation-duration: 13.5916s;
      animation-delay: 6.08844s;
      background-size: cover;
      background-repeat: no-repeat;
    "
    bis_skin_checked="1"
  ></div>
  <div
    class="snowflake"
    style="
      left: 34.1654vw;
      animation-duration: 6.02629s;
      animation-delay: 4.41306s;
      background-size: cover;
      background-repeat: no-repeat;
    "
    bis_skin_checked="1"
  ></div>
  <div
    class="snowflake"
    style="
      left: 85.0859vw;
      animation-duration: 13.788s;
      animation-delay: 3.16704s;
      background-size: cover;
      background-repeat: no-repeat;
    "
    bis_skin_checked="1"
  ></div>
  <div
    class="snowflake"
    style="
      left: 39.8216vw;
      animation-duration: 8.07264s;
      animation-delay: 7.22143s;
      background-size: cover;
      background-repeat: no-repeat;
    "
    bis_skin_checked="1"
  ></div>
  <div
    class="snowflake"
    style="
      left: 17.8831vw;
      animation-duration: 11.2855s;
      animation-delay: 7.38593s;
      background-size: cover;
      background-repeat: no-repeat;
    "
    bis_skin_checked="1"
  ></div>
  <div
    class="snowflake"
    style="
      left: 98.3518vw;
      animation-duration: 14.1992s;
      animation-delay: 8.85367s;
      background-size: cover;
      background-repeat: no-repeat;
    "
    bis_skin_checked="1"
  ></div>
  <div
    class="snowflake"
    style="
      left: 34.2116vw;
      animation-duration: 6.29948s;
      animation-delay: 2.79104s;
      background-size: cover;
      background-repeat: no-repeat;
    "
    bis_skin_checked="1"
  ></div>
  <div
    class="snowflake"
    style="
      left: 29.2294vw;
      animation-duration: 12.4513s;
      animation-delay: 0.319157s;
      background-size: cover;
      background-repeat: no-repeat;
    "
    bis_skin_checked="1"
  ></div>
  <div
    class="snowflake"
    style="
      left: 12.787vw;
      animation-duration: 13.922s;
      animation-delay: 2.10003s;
      background-size: cover;
      background-repeat: no-repeat;
    "
    bis_skin_checked="1"
  ></div>
  <div
    class="snowflake"
    style="
      left: 69.5442vw;
      animation-duration: 9.72562s;
      animation-delay: 7.44612s;
      background-size: cover;
      background-repeat: no-repeat;
    "
    bis_skin_checked="1"
  ></div>
  <div
    class="snowflake"
    style="
      left: 54.0092vw;
      animation-duration: 12.8909s;
      animation-delay: 6.83343s;
      background-size: cover;
      background-repeat: no-repeat;
    "
    bis_skin_checked="1"
  ></div>
  <div
    class="snowflake"
    style="
      left: 20.8639vw;
      animation-duration: 9.44206s;
      animation-delay: 9.83828s;
      background-size: cover;
      background-repeat: no-repeat;
    "
    bis_skin_checked="1"
  ></div>
  <div
    class="snowflake"
    style="
      left: 44.1088vw;
      animation-duration: 7.75616s;
      animation-delay: 6.60454s;
      background-size: cover;
      background-repeat: no-repeat;
    "
    bis_skin_checked="1"
  ></div>
  <div
    class="snowflake"
    style="
      left: 0.46935vw;
      animation-duration: 11.2671s;
      animation-delay: 2.46915s;
      background-size: cover;
      background-repeat: no-repeat;
    "
    bis_skin_checked="1"
  ></div>
  <div
    class="snowflake"
    style="
      left: 29.4288vw;
      animation-duration: 12.7706s;
      animation-delay: 1.89965s;
      background-size: cover;
      background-repeat: no-repeat;
    "
    bis_skin_checked="1"
  ></div>
  <div
    class="snowflake"
    style="
      left: 71.0295vw;
      animation-duration: 11.2678s;
      animation-delay: 9.96411s;
      background-size: cover;
      background-repeat: no-repeat;
    "
    bis_skin_checked="1"
  ></div>
  <div
    class="snowflake"
    style="
      left: 34.1169vw;
      animation-duration: 6.22844s;
      animation-delay: 4.80349s;
      background-size: cover;
      background-repeat: no-repeat;
    "
    bis_skin_checked="1"
  ></div>
  <div
    class="snowflake"
    style="
      left: 89.8435vw;
      animation-duration: 5.65153s;
      animation-delay: 1.34482s;
      background-size: cover;
      background-repeat: no-repeat;
    "
    bis_skin_checked="1"
  ></div>
  <div
    class="snowflake"
    style="
      left: 70.7618vw;
      animation-duration: 8.60146s;
      animation-delay: 2.81516s;
      background-size: cover;
      background-repeat: no-repeat;
    "
    bis_skin_checked="1"
  ></div>
  <div
    class="snowflake"
    style="
      left: 83.9379vw;
      animation-duration: 13.9729s;
      animation-delay: 2.70073s;
      background-size: cover;
      background-repeat: no-repeat;
    "
    bis_skin_checked="1"
  ></div>
  <div
    class="snowflake"
    style="
      left: 91.4515vw;
      animation-duration: 10.1538s;
      animation-delay: 5.18754s;
      background-size: cover;
      background-repeat: no-repeat;
    "
    bis_skin_checked="1"
  ></div>
  <div
    class="snowflake"
    style="
      left: 31.3211vw;
      animation-duration: 5.48s;
      animation-delay: 7.0823s;
      background-size: cover;
      background-repeat: no-repeat;
    "
    bis_skin_checked="1"
  ></div>
  <div
    class="snowflake"
    style="
      left: 81.344vw;
      animation-duration: 7.81956s;
      animation-delay: 0.675529s;
      background-size: cover;
      background-repeat: no-repeat;
    "
    bis_skin_checked="1"
  ></div>
  <div
    class="snowflake"
    style="
      left: 1.41032vw;
      animation-duration: 13.4707s;
      animation-delay: 4.4917s;
      background-size: cover;
      background-repeat: no-repeat;
    "
    bis_skin_checked="1"
  ></div>
  <div
    class="snowflake"
    style="
      left: 17.4257vw;
      animation-duration: 7.80241s;
      animation-delay: 5.20483s;
      background-size: cover;
      background-repeat: no-repeat;
    "
    bis_skin_checked="1"
  ></div>
  <div
    class="snowflake"
    style="
      left: 2.69183vw;
      animation-duration: 12.4987s;
      animation-delay: 7.79165s;
      background-size: cover;
      background-repeat: no-repeat;
    "
    bis_skin_checked="1"
  ></div>
  <div
    class="snowflake"
    style="
      left: 37.2686vw;
      animation-duration: 8.01377s;
      animation-delay: 3.34434s;
      background-size: cover;
      background-repeat: no-repeat;
    "
    bis_skin_checked="1"
  ></div>
  <div
    class="snowflake"
    style="
      left: 47.2056vw;
      animation-duration: 5.93026s;
      animation-delay: 8.92221s;
      background-size: cover;
      background-repeat: no-repeat;
    "
    bis_skin_checked="1"
  ></div>
  <div
    class="snowflake"
    style="
      left: 3.9269vw;
      animation-duration: 8.87383s;
      animation-delay: 9.38744s;
      background-size: cover;
      background-repeat: no-repeat;
    "
    bis_skin_checked="1"
  ></div>
  <div
    class="snowflake"
    style="
      left: 94.9963vw;
      animation-duration: 14.3119s;
      animation-delay: 1.41494s;
      background-size: cover;
      background-repeat: no-repeat;
    "
    bis_skin_checked="1"
  ></div>
  <div
    class="snowflake"
    style="
      left: 23.9142vw;
      animation-duration: 5.02226s;
      animation-delay: 3.51347s;
      background-size: cover;
      background-repeat: no-repeat;
    "
    bis_skin_checked="1"
  ></div>
  <div
    class="snowflake"
    style="
      left: 45.697vw;
      animation-duration: 9.78682s;
      animation-delay: 1.22806s;
      background-size: cover;
      background-repeat: no-repeat;
    "
    bis_skin_checked="1"
  ></div>
</div>
