$color_1: #fefefe;
$color_2: #950101;
$color_3: #d5d2d2;
$color_4: #22c38b;
$color_5: rgb(174, 5, 204);
$color_6: darkred;
$color_7: #fff;
$color_8: #ff3d00;
$color_9: #aaa;
$color_10: #ddd;
$font-family_1: "Copperplate Gothic Light";
$font-family_2: "Rubik Wet Paint", system-ui;
$body-font: "Manrope", Helvetica, Arial, sans-serif;
$title-font: "Oxanium", Helvetica, Arial, sans-serif;
$background-color_1: #1e1f22;
$background-color_2: #adb7be59;
$background-color_3: rgba(0, 0, 0, 0.425);
$background-color_4: #01204e;
$background-color_5: #4e2201;
$background-color_6: #1b1b1b;
$primary-color: #5623d8;
$primary-color-rgb: 86, 35, 216;
$secondary-color: #6a79fa;
$secondary-color-rgb: 106, 121, 250;
$tertiary-color: #8f15e6;
$tertiary-color-rgb: 143, 21, 230;
$background-gradient: linear-gradient(135deg, #2b1055, #7597de);
$text-color: #fff;
$card-background: rgba(0, 0, 0, 0.6);
$button-color: #6200ea;
$button-hover: #3700b3;
$discount-background: #00ff00;
$color_1: #ffffff;
$color_2: #adb7be;
$color_3: #fff;
$font-family_1: $title-font;
$font-family_2: Manrope, Arial, Helvetica, sans-serif;
$font-family_3: $body-font;
